<launch>
        <!-- args = "(추종할 경로 이름) (신호등 greenlight setting (True,False))" -->
	<node pkg="erp_ros" type="erp42_planner.py" name="erp42_planner" args="kcity True" />
        <node pkg="erp_ros" type="serial_node.py" name="serial_node" output="screen" />

        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find erp_ros)/rviz/planner.rviz" />

</launch>
